<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867429018231-5duq2udq586vdr78tpa09bgih2sepltj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867429018231-5duq2udq586vdr78tpa09bgih2sepltj</string>
	<key>API_KEY</key>
	<string>AIzaSyBpI__1rcfrQlhxLe9E9nKmVvOgOFZRr24</string>
	<key>GCM_SENDER_ID</key>
	<string>867429018231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-rt</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-rt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867429018231:ios:35387bf57a340042ea3472</string>
</dict>
</plist>